
name: Release Drafter

on:
  push:
    branches:
      - main
  pull_request:
    types: [opened, edited, closed, labeled, unlabeled]

jobs:
  update_release_draft:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: release-drafter/release-drafter@v5
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
